/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
}

h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    color: crimson;
}

/* ////////////////////////////////////////////////// */
header {
    background-color: black;
}

header:hover .right-banner img {
    transform: rotate(20deg);
}

header .nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 1.5%;
}

header .nav .menu ul {
    display: flex;
}

header .nav .menu ul li a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
}

header .nav .menu ul li:first-child a {
    padding-left: 0px;
}

header .nav .login a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
    background-image: linear-gradient(to right, crimson, #ff5e62);
}

header .nav .login a i {
    margin-right: 10px;
}

header .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

header .banner .left-banner {
    width: 35%;
}

header .banner .left-banner a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background-image: linear-gradient(to right, crimson, #ff5e62);
    display: inline-block;
    margin-top: 30px;
}

header .banner .left-banner a i {
    margin-left: 10px;
}

header .banner .right-banner {
    width: 50%;
}

header .banner .right-banner img {
    width: 100%;
    transition: transform 15s ease;
}

/* ///////////////////////////////////////////////////// */
.player-team {
    padding-bottom: 5%;
}

.players {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

}

.players .player {
    border: 15px solid #FFFFFF;
    box-shadow: 10px 10px 30px #e9e9e9;
}

.players .player img {
    width: 100%;
    margin-bottom: 16px;
}

.players .player p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

/* ///////////////////////////////////////////////////// */
.highlights {
    background-color: #ff5e62;
    padding: 4% 0%;
}

.highlights:hover .right-highlight img {
    transform: rotate(10deg);
}

.highlight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-area .left-highlight {
    width: 60%;
}

.highlight-area .left-highlight p {
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}

.highlight-area .left-highlight a {
    color: crimson;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 30px;
}

.highlight-area .left-highlight a i {
    margin-left: 10px;
}

.highlight-area .right-highlight {
    width: 40%;
}

.highlight-area .right-highlight img {
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    transition: transform 17s ease;
}

/* ///////////////////////////////////////////////////// */
.top-section {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 6% 0% 0%;
}

.top-section h2 {
    color: crimson;
}

.top-section p {
    font-size: 16px;
    margin-top: 10px;
}

.pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 6% 0% 6%;
}

.pricing .pricing-table {
    border: 3px solid #FFFFFF;
    box-shadow: 10px 10px 30px #e9e9e9;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease;
    padding: 3% 0%;
}

.pricing .pricing-table:hover {
    border: 3px solid crimson;
}

.pricing .pricing-table p {
    font-size: 16px;
    margin: 10px 0px;
}

.pricing .pricing-table ul {
    margin-top: 25px;
    margin-bottom: 25px;
}

.pricing .pricing-table ul li {
    margin-top: 10px;
    font-size: 16px;
}

.pricing .pricing-table button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid crimson;
    color: crimson;
    background-color: #FFFFFF;

}

.pricing .pricing-table button:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, crimson, #ff5e62);
}