/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
}

h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    color: crimson;
}

/* ////////////////////// Header Style //////////////////////////// */
header {
    background-color: black;
}

header:hover .right-banner img {
    transform: rotate(20deg);
}

header .nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 1.5%;
}

header .nav .menu ul {
    display: flex;
}

header .nav .menu ul li a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
}

header .nav .menu ul li:first-child a {
    padding-left: 0px;
}

header .nav .menubar {
    display: none;
}

header .nav .login a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
    background-image: linear-gradient(to right, crimson, #ff5e62);
}

header .nav .login a i {
    margin-right: 10px;
}

header .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

header .banner .left-banner {
    width: 35%;
}

header .banner .left-banner a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background-image: linear-gradient(to right, crimson, #ff5e62);
    display: inline-block;
    margin-top: 30px;
}

header .banner .left-banner a i {
    margin-left: 10px;
}

header .banner .right-banner {
    width: 50%;
}

header .banner .right-banner img {
    width: 100%;
    transition: transform 15s ease;
}

/* ///////////////////// Player Style //////////////////////////////// */
.player-team {
    padding-bottom: 8%;
}

.players {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

}

.players .player {
    border: 15px solid #FFFFFF;
    box-shadow: 10px 10px 30px #e9e9e9;
}

.players .player img {
    width: 100%;
    margin-bottom: 16px;
}

.players .player p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

/* //////////////////// Highlights Style ///////////////////////////////// */
.highlights {
    background-color: #ff5e62;
    padding: 4% 0%;
}

.highlights:hover .right-highlight img {
    transform: rotate(10deg);
}

.highlight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-area .left-highlight {
    width: 60%;
}

.highlight-area .left-highlight p {
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}

.highlight-area .left-highlight a {
    color: crimson;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 30px;
}

.highlight-area .left-highlight a i {
    margin-left: 10px;
}

.highlight-area .right-highlight {
    width: 40%;
}

.highlight-area .right-highlight img {
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    transition: transform 17s ease;
}

/* /////////////////// Pricing Style ////////////////////////////////// */
.top-section {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 6% 0% 0%;
}

.top-section h2 {
    color: crimson;
}

.top-section p {
    font-size: 16px;
    margin-top: 10px;
}

.pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 6% 0% 6%;
}

.pricing .pricing-table {
    border: 3px solid #FFFFFF;
    box-shadow: 10px 10px 30px #e9e9e9;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease;
    padding: 3% 0%;
}

.pricing .pricing-table:hover {
    border: 3px solid crimson;
}

.pricing .pricing-table p {
    font-size: 16px;
    margin: 10px 0px;
}

.pricing .pricing-table ul {
    margin-top: 25px;
    margin-bottom: 25px;
}

.pricing .pricing-table ul li {
    margin-top: 10px;
    font-size: 16px;
}

.pricing .pricing-table button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid crimson;
    color: crimson;
    background-color: #FFFFFF;

}

.pricing .pricing-table button:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, crimson, #ff5e62);
}

/* //////////////////////  Footer  Style /////////////////////////////// */
footer {
    padding-top: 6%;
}

footer .logo {
    width: 30%;
    margin: auto;
}

footer .logo img {
    width: 100%;
}

footer .icon {
    width: 30%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

footer .icon a {
    font-size: 16px;
    width: 32px;
    height: 32px;
    color: #10437A;
    background-color: #e7e7e7;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;

}

footer .icon a i {
    margin: 8px 0px;

}

footer .copy {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 2% 0%;
}

/*  //////////////////////////////////
                Media Screen
    ///////////////////////////////// */
@media screen and (min-width:280px) and (max-width:688px) {
    .container {
        width: 95%;
        margin: auto;
    }

    header .nav {
        display: flex;
        justify-content: space-between;
        padding: 4% 0% 1.5%;
    }

    header .nav .menu ul {
        display: none;
    }

    header .nav .menubar {
        display: block;
    }

    header .nav .menubar i {
        color: #ffffff;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
        color: #FFFFFF;
    }

    h2 {
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 600;
    }

    h3 {
        font-size: 25px;
        font-weight: 700;
    }


    header .banner {
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    header .banner .left-banner {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    header .banner .right-banner {
        width: 50%;
        margin: 30px auto;

    }

    .players {
        margin-top: 8%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;

    }

    .players .player {
        border: 10px solid #FFFFFF;
        box-shadow: 10px 10px 30px #e9e9e9;
    }

    .highlight-area {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .highlight-area .left-highlight {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .highlight-area .left-highlight p {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 16px;
    }

    .highlight-area .right-highlight {
        width: 45%;
        margin: 30px auto;
    }

    .top-section {
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 6% 0% 0%;
    }

    .pricing {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-gap: 50px;
        padding: 6% 0% 6%;
        justify-content: center;
    }

    .pricing .pricing-table {
        box-shadow: 0px 0px 0px;
        border: 3px solid crimson;
    }

    footer .logo {
        width: 50%;
        margin: auto;
    }

    footer .icon {
        width: 50%;
        margin: 15px auto;
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 90%;
        margin: auto;
    }

    header .nav {
        display: flex;
        justify-content: space-between;
        padding: 4% 0% 1.5%;
    }

    header .nav .menu ul {
        display: none;
    }

    header .nav .menubar {
        display: block;
    }

    header .nav .menubar i {
        color: #ffffff;
        font-size: 20px;
    }

    header .banner .left-banner {
        width: 50%;
    }

    header .banner .right-banner {
        width: 45%;
    }

    h1 {
        font-size: 50px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .players {
        margin-top: 8%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

    }

    .players .player {
        border: 10px solid #FFFFFF;
        box-shadow: 10px 10px 30px #e9e9e9;
    }

    .top-section {
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 6% 0% 0%;
    }

    .pricing {
        display: grid;
        grid-template-columns: repeat(1, 60%);
        grid-gap: 50px;
        padding: 6% 0% 6%;
        justify-content: center;
    }
}